body {
    background-color: rgb(255, 255, 255);
}

header {
    background-color: rgba(255,255,255,1.00);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(196, 207, 214);
}

.display_flex_wrap{
    display: flex;
    flex-wrap: wrap;
}

.wd_100{
    width: 100%;
}

.wd_90{
    width: 90%;
}

.wd_75{
    width: 75%;
}

.wd_50{
    width: 50%;
}

.wd_25{
    width: 25%;
}

.wd_10{
    width: 10%;
}



.un_list {
    list-style: none;
}

.flex_warp{
    display: flex;
    flex-wrap: wrap;
}